.profile-dropdown {
  position: absolute;
}

#navbar-container {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99;

  padding: 9px 0 15px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--white);
  border-color: var(--bottom-border);
  border-width: 1px;
  border-style: solid;
  border-top: none !important;
  position: relative;
}

#navbar-inner {
  max-width: 1170px;
}

#navbar-logo {
  height: 100%;
  width: 100%;
}

#navbar-logo img {
  max-width: 100%;
  vertical-align: middle
}
